@use '../../styles/_variables' as *
.statistics-2-page
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 1rem

h4
    margin-bottom: 0.5rem
.wrapper
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    .iphone-wrapper
        display: flex
        justify-content: center
        margin-bottom: 3rem

@media (min-width: 375px)
    h4
        margin-top: 0
        margin-bottom: 1rem

@media (min-width: 425px)
    .wrapper
        .iphone-wrapper,
        .ipad-wrapper
            width: 70%

@media (min-width: 630px)
    .wrapper
        .iphone-wrapper,
        .ipad-wrapper
            width: 60%

@media (min-width: 720px)
    .wrapper
        flex-direction: row
        .iphone-wrapper
            width: 40%
        .ipad-wrapper
            width: 60%
    h4
        margin-bottom: 5rem

@media (min-width: 1024px)
    .wrapper
        .iphone-wrapper,
        .ipad-wrapper
            width: 50%
