@use '../../styles/_variables' as *

.about-me-page
    height: 100%
    padding-top: 1rem

h3
    text-align: center
    padding-left: 6rem

.about-me-div
    display: flex
    flex-direction: column
    margin-bottom: 1rem
    .image-wrapper
        display: flex
        justify-content: flex-start
        align-items: center
        flex: 1 0 25%
        .profile-img-div
            width: 150px
            height: 150px
            border-radius: 50%
            overflow: hidden
            &:hover
                transform: scale(1.1)
                box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 30px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px
                cursor: pointer
        img
            width: 100%
            height: 100%
            object-fit: cover
            display: block

.text-div
    border-bottom: 2px solid $heading-color
    text-align: center
    p
        font-size: 0.8rem
    .birth-date
        text-align: end
        span
            background-color: $accent-color
            padding: 0.3rem
            border-radius: 0.5rem

.columns-wrapper
    text-align: center
    display: flex
    align-items: baseline
    justify-content: center
    flex-wrap: wrap
    p
        font-size: 0.8em
        &::before
            content: "# "

.column
    flex: 1 0 50%
    img
        width: 70px
        &:hover
            transform: scale(1.2)
    .icons-wrapper, .socials-label
        display: none
    .socials-wrapper
        display: flex
        justify-content: center
        align-items: center

@media (min-width: 375px)
    .about-me-div
        margin-bottom: 2rem
    .text-div
        padding-bottom: 1rem
        p
            font-size: 0.9rem

@media (min-width: 768px)
    .about-me-div
        flex-direction: row
        gap: 1rem
        .image-wrapper
            justify-content: center
            .profile-img-div
                width: 200px
                height: 200px
    .text-div
        padding-bottom: 2rem
        margin-bottom: 3rem
        .birth-date
            text-align: end
            margin-bottom: 1rem
    .column
        flex: 0 0 33%
        img
            width: 80px
        .socials-label
            display: inline-block
        .icons-wrapper
            display: flex
            flex-wrap: wrap
            justify-content: center
            align-content: center
            .icon
                flex: 0 0 50%
                img
                    margin: 0 auto
        .socials-wrapper
            flex-direction: column
            justify-content: center

@media (min-width: 1440px)
    .text-div
        p
            font-size: 1.3rem
    .column
        img
            width: 100px
        .icons-wrapper
            gap: 1rem
            .icon
                flex: 0 0 40%
