@use '../../styles/_variables' as *

.high-society-page
    height: 100%
    display: flex
    flex-direction: column
    padding-top: 1rem

.page-intro
    display: flex
    align-items: flex-start
    h3
        flex: 0 1 100%
        font-family: serif
        font-size: 1.3rem
        font-weight: 200
        color: black
        text-transform: uppercase
        border-bottom: 0.3rem solid $heading-color
        text-align: center

.budgets-container
    p
        color: $accent-color
        span
            color: $heading-color

.statistics-container
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    gap: 0.3rem
    .row
        width: 48%
    .row:last-child
        width: 100%

.phone-container
    display: flex
    justify-content: center
    gap: 0.3rem
    padding-top: 0.3rem
    div
        flex: 0 0 40%

@media (min-width: 425px)
    .high-society-page
        padding-top: 1rem
    .phone-container
        div
            flex: 0 0 30%

@media (min-width: 525px)
    .statistics-container
        .row
            width: 30%
        .row:last-child
            width: 80%

@media (min-width: 525px)
    .phone-container
        div
            flex: 0 0 20%

@media (min-width: 720px)
    .high-society-page
        justify-content: space-around
    .content-wrapper
        display: flex
        .right-side
            flex: 0 0 40%
        .phone-container
            div
                flex: 0 0 50%
    .statistics-container
        padding-top: 1rem
        justify-content: flex-start
        .row
            width: 50%
        .row:last-child
            width: 100%
    .page-intro
        h3
            font-size: 1.8rem

@media (min-width: 930px)
    .content-wrapper
        .right-side
            flex: 0 0 30%
            align-items: center
    .statistics-container
        .row
            width: 40%
        .row:last-child
            width: 80%

@media (min-width: 1250px)
    .high-society-page
        padding: 1rem
    .page-intro
        h3
            font-size: 3rem
    .statistics-container
        gap: 1rem
