@use '../../styles/_variables' as *

.brands-page
    height: 100%
    position: relative
    padding-top: 1rem
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.page-intro
    display: flex
    .page-num
        flex: 0 0 15%
        text-align: center
        font-size: 3rem
    .text
        font-size: 0.7rem
        border-top: 0.3rem solid $heading-color
        text-align: center
        padding-top: 1rem

.brands-scroll-wrapper
    margin-top: 1rem
    width: 100%
    overflow: hidden
    .scroll-content
        display: flex
        align-items: center
        gap: 1rem
        animation: marquee 10s linear infinite
        width: max-content
        will-change: transform
        pointer-events: none
        overflow: hidden
        li
            flex-shrink: 0
            width: 150px

.scroll-content:hover li
    animation-play-state: paused

@keyframes marquee
    from
        transform: translateX(0)
    to
        transform: translateX(-50%)

@media (min-width: 375px)
    .brands-list
        li
            flex: 0 0 200px

@media (min-width: 768px)
    .brands-page
        padding-top: 0
    .page-intro
        .page-num
            flex: 0 0 20%
            font-size: 6rem
        .text
            font-size: 0.9rem
            margin-top: 2rem

    .brands-list
        li
            flex: 0 0 120px

@media (min-width: 1024px)
    .page-intro
        .text
            border-top: 0.5rem solid $heading-color
    .brands-list
        margin-top: 2rem
        li
            flex: 0 0 145px

@media (min-width: 1250px)
    .brands-page
        padding: 1rem

    .page-intro
        .page-num
            font-size: 7rem
        .text
            margin-top: 3rem

    .brands-scroll-wrapper
        .scroll-content
            li
                width: 200px

@media (min-width: 1440px)
    .page-intro
        .text
            font-size: 1.5rem

    .brands-scroll-wrapper
        .scroll-content
            li
                width: 250px
